@font-face {
  font-family: 'Plein-Bold';
  src: url('resources/Fonte/Fonts/WEB/fonts/Plein-Bold.woff2') format('woff2'),
       url('resources/Fonte/Fonts/WEB/fonts/Plein-Bold.woff') format('woff'),
       url('resources/Fonte/Fonts/WEB/fonts/Plein-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Plein-Variable';
  src: url('resources/Fonte/Fonts/WEB/fonts/Plein-Variable.woff2') format('woff2'),
       url('resources/Fonte/Fonts/WEB/fonts/Plein-Variable.woff') format('woff'),
       url('resources/Fonte/Fonts/WEB/fonts/Plein-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

body {
    background-color: #eddece;

}
.sessao-1-home {
  background-color: #CC4B23;
}


.card-consultorias {
  border: 2px solid #ddd;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: #CC4B23;
}

.card-render {
  border: 2px solid #ddd;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: #D3B2D4;
}

.botao-render {
  font-family: 'Plein-Bold';
  font-size: larger;
  background-color: #eddece;
  color: #D3B2D4;
  border-radius: 40px;
  border-color: #eddece;
  width: 225px;
  height: 48px;
  white-space: nowrap;
}

.botao-modal {
  font-family: 'Plein-Bold';
  font-size: larger;
  background-color: #eddece;
  color: #CC4B23;
  border-radius: 40px;
  border-color: #eddece;
  width: 225px;
  height: 48px;
  white-space: nowrap;
}
.botao-modal:hover {
  
  color: #CC4B23;
}

/*  transform: translate(-155%, 85%); */

@media screen and (max-width:1024px) and (min-width: 768px)  {
  
  #sessao-5-servicos {
    height: 750px;
  
  }
}

@media screen and (max-width: 1670px) {

  #sessao-5-servicos {
    .row {
      margin-left: 40px;
    }
  }
}

/* tela 24pol  */
@media screen and (min-width: 1680px) {
  .sessao-1 {
    height: 865px;
  }
  #sessao-5-servicos {
    .row {
      margin-left: 40px;
    }
  }
  #sessao-4-cards {
    height: 940px;
  }
}
.clips {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}
.clips-left {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  
}


.img-card {
  position: relative;
}
.desconto::first-child {
    text-decoration: line-through;
  }
  


.title-cards {
  font-size: 40px;    
  color: #eddece;
  font-family: 'Plein-Bold';
}
li {
  color: #eddece;
}
.subtitle-card {
  color: #eddece;
  font-family: 'Plein-Bold';
}

.text-modal {
  color: #CC4B23;
  font-size: larger;
}

.navbar-items {
  color: #CC4B23;
  font-family: 'Plein-Bold';

}

#frase-inicial-first {
  color: #eddece;
  font-size: 40px;
}

#sessao-4-cards {
  margin: 0;
  background-image: url("img/CROQUI.png") ;
}
.opcoesconsultorias {
  color: #eddece;
  font-family: 'Plein-Variable';
}
.opcoesconsultorias:hover {
  border-bottom: 2px solid #D3B2D4;
  color: #eddece;
}

.projcard-bar {
  
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #eddece;
  transition: width 0.2s ease;
}
.projcard-subtitle {

  color: #eddece;
}
.opcoesrender {
  color: #eddece;
  margin: 0;
}
.opcoesrender:hover {
  border-bottom: 2px solid #d3b2d4;
}

.render-dias {
  font-size: 12px;
}
.col-pacotes {
  border: 3px solid #eddece;
  border-radius: 4px;
  margin-left: 20px;
  width: 180px;
}

.p-config {
  color: #CC4B23;
  font-family: 'Plein-Bold';
  font-size: 50px;
}

.title-font {
  font-family: 'Plein-Bold';
}
.subtitle-font {
  font-family: 'Plein-Variable';
}

.subtitle {
  color: #CC4B23;
  font-size: 24px; 
} 

.footer-title {
  font-family: 'Plein-Bold';
  color: #CC4B23;;
}
.footer-text {
  font-family: 'Plein-Variable';
  color:#D3B2D4 ;
}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #d3b2d4;
  color: #fff ;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow:1px 1px 2px #fff;
  z-index: 1000;
}
.fa-whatsapp {
  margin-top: 16px;
}
.nav-item {
  margin-right: 30px;
}


.pcard {
  font-size: medium;
  color: #eddece;
}
.first-color {
  color: #fff;
}


 .h4-config {
  color:#CC4B23 ;

 }
 .text-consultoria {
  margin-bottom: 10px;
 }
 .modal-header, .modal-body, .modal-footer {
  color: #eddece;
  background-color: #eddece;
 }
