body {
    background-color: #eddece;
    font-family: "Plein";
}

.sessao-1 {
  height: 200px;
}
.card-consultorias {
  border: 2px solid #ddd;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: #CC4B23;
}
.botao-modal {
  font-size: larger;
  background-color: #eddece;
  color: #CC4B23;
  border-radius: 40px;
  border-color: #eddece;
  width: 225px;
  height: 48px;
  
  white-space: nowrap;
}
.botao-modal:hover {
  
  color: #CC4B23;
}

/*  transform: translate(-155%, 85%); */

@media screen and (max-width:1024px) and (min-width: 768px)  {
  .sessao-1 {
    height: 700px;
  }
  #sessao-5-servicos {
    height: 750px;
  
  }
}

@media screen and (max-width: 1670px) {
  .sessao-1 {
    height: 860px;
  }
  #sessao-5-servicos {
    .row {
      margin-left: 40px;
    }
  }
}

/* tela 24pol  */
@media screen and (min-width: 1680px) {
  .sessao-1 {
    height: 865px;
  }
  #sessao-5-servicos {
    .row {
      margin-left: 40px;
    }
  }
  #sessao-4-cards {
    height: 940px;
  }
}
.clips {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}
.clips-left {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  
}

.bordadinho-left {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid #eddece;
  width: 80px;
  border-radius: 10px;
}

.bordadinho {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 420px;
  border: 3px solid #eddece;
  width: 80px;
  border-radius: 10px;
}

.img-card {
  position: relative;
}
.desconto::first-child {
    text-decoration: line-through;
  }
  


.title-cards {
  font-size: 2.5rem !important;       
  color: #eddece;
}
li {
  color: #eddece;
}
.subtitle-card {
  color: #eddece;
}

h1 {
    font-family: "Plein";
  }

a, .card {
    font-family: "Plein";
}
.navbar-items {
  color: #CC4B23;

}

#frase-inicial-first {
  color: #eddece;
  font-size: 40px;
}

#sessao-4-cards {
  margin: 0;
  background-image: url("img/CROQUI.png") ;
}
.opcoesconsultorias {
  color: #eddece;
}
.opcoesconsultorias:hover {
  border-bottom: 2px solid #D3B2D4;
  color: #eddece;
}

.projcard-bar {
  
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #eddece;
  transition: width 0.2s ease;
}
.projcard-subtitle {
  font-family: 'Plein', 'Open Sans', arial, sans-serif;
  color: #eddece;
}
.opcoesrender {
  color: #eddece;
  margin: 0;
}
.opcoesrender:hover {
  border-bottom: 2px solid #d3b2d4;
}

.render-dias {
  font-size: 12px;
}
.col-pacotes {
  border: 3px solid #eddece;
  border-radius: 4px;
  margin-left: 20px;
  width: 180px;
}

.p-config {
  color: #CC4B23;
  font-size: 45px;
}

.subtitle {
  color: #CC4B23;
  font-size: 24px; 
} 

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #eddece;
  color: #fff ;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow:1px 1px 2px #888;
  z-index: 1000;
}
.fa-whatsapp {
  margin-top: 16px;
}
.nav-item {
  margin-right: 30px;
}


.pcard {
  font-size: medium;
  color: #eddece;
}
.first-color {
  color: #fff;
}


 .h4-config {
  color:#CC4B23 ;
  font-family: 'Plein';
 }
 .text-consultoria {
  margin-bottom: 10px;
 }
 .modal-header, .modal-body, .modal-footer {
  color: #eddece;
  background-color: #eddece;
 }
