body {
    background-color: #eddece;
    font-family: "Plein";
}

.sessao-1 {
  height: 200px;
}
.card-consultorias {
  border: 2px solid #ddd;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  background-color: #CC4B23;
}
.botao-modal {
  font-size: larger;
  background-color: #eddece;
  color: #CC4B23;
  border-radius: 40px;
  border-color: #eddece;
  width: 225px;
  height: 48px;
  
  white-space: nowrap;
}
.botao-modal:hover {
  
  color: #CC4B23;
}

/*  transform: translate(-155%, 85%); */

@media screen and (max-width:1024px) and (min-width: 768px)  {
  .sessao-1 {
    height: 700px;
  }
  #sessao-5-servicos {
    height: 750px;
  
  }
}

@media screen and (max-width: 1670px) {
  .sessao-1 {
    height: 860px;
  }
  #sessao-5-servicos {
    .row {
      margin-left: 40px;
    }
  }
}

/* tela 24pol  */
@media screen and (min-width: 1680px) {
  .sessao-1 {
    height: 865px;
  }
  #sessao-5-servicos {
    .row {
      margin-left: 40px;
    }
  }
  #sessao-4-cards {
    height: 940px;
  }
}
.clips {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}
.clips-left {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  
}

.bordadinho-left {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid #eddece;
  width: 80px;
  border-radius: 10px;
}

.bordadinho {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 420px;
  border: 3px solid #eddece;
  width: 80px;
  border-radius: 10px;
}

.img-card {
  position: relative;
}
.desconto::first-child {
    text-decoration: line-through;
  }
  


.title-cards {
  font-size: 2.5rem !important;       
  color: #eddece;
}
li {
  color: #eddece;
}
.subtitle-card {
  color: #eddece;
}

h1 {
    font-family: "Plein";
  }

a, .card {
    font-family: "Plein";
}
.navbar-items {
  color: #CC4B23;

}

#frase-inicial-first {
  color: #eddece;
  font-size: 40px;
}

#sessao-4-cards {
  margin: 0;
  background-image: url("img/CROQUI.png") ;
}
.opcoesconsultorias {
  color: #eddece;
}
.opcoesconsultorias:hover {
  border-bottom: 2px solid #D3B2D4;
  color: #eddece;
}

.projcard-bar {
  
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #eddece;
  transition: width 0.2s ease;
}
.projcard-subtitle {
  font-family: 'Plein', 'Open Sans', arial, sans-serif;
  color: #eddece;
}
.opcoesrender {
  color: #eddece;
  margin: 0;
}
.opcoesrender:hover {
  border-bottom: 2px solid #d3b2d4;
}

.render-dias {
  font-size: 12px;
}
.col-pacotes {
  border: 3px solid #eddece;
  border-radius: 4px;
  margin-left: 20px;
  width: 180px;
}

.p-config {
  color: #CC4B23;
  font-size: 45px;
}

.subtitle {
  color: #CC4B23;
  font-size: 24px; 
} 

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #eddece;
  color: #fff ;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow:1px 1px 2px #888;
  z-index: 1000;
}
.fa-whatsapp {
  margin-top: 16px;
}
.nav-item {
  margin-right: 30px;
}
.demo{ background: #d3b2d4; }
.testimonial{
    background: #fff;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 190px;
    position: relative;
}
.testimonial:before,
.testimonial:after{
    content: "";
    border-top: 40px solid #fff;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}
.testimonial:after{
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}
.testimonial .icon{
    display: inline-block;
    font-size: 80px;
    color: #d3b2d4;
    margin-bottom: 20px;
    opacity: 0.6;
}
.testimonial .description{
    font-size: 15px;
    color: #777;
    text-align: left;
    margin-bottom: 30px;
    opacity: 0.8;
}
.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}
.testimonial .pic{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #d3b2d4;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #ffd9b8;
}
.owl-wrapper-outer {
  height: 480px;
}
.owl-theme .owl-controls{
    margin-top: 0;
}
.owl-theme .owl-controls .owl-page span{
    width: 32px;
    height: 10px;
    background: #fff;
    border: 2px solid #bd986b;
    margin: 5px;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #d3b2d4;
    border-color: #fff;
}
@media only screen and (max-width: 650px) and (min-width: 400px){
    .testimonial:before{ border-right: 325px solid transparent; }
    .testimonial:after{ border-left: 325px solid transparent; }
}
.arrow-container {
  margin-top: 100px;
  padding: 30px;
  margin-left: 30px;
}

.pcard {
  font-size: medium;
  color: #eddece;
}
.first-color {
  color: #fff;
}


 .h4-config {
  color:#CC4B23 ;
  font-family: 'Plein';
 }
 .text-consultoria {
  margin-bottom: 10px;
 }
 .modal-header, .modal-body, .modal-footer {
  color: #eddece;
  background-color: #eddece;
 }
